<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="ServerEndpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53851/ServerService.svc"
                binding="wsDualHttpBinding" bindingConfiguration="ServerEndpoint"
                contract="ServiceReference.IRequest" name="ServerEndpoint">
                <identity>
                    <userPrincipalName value="MATEBOOK\Alexey" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>